<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Olfactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Olfactory.Properties.Settings>
            <setting name="Test_OP_FreshAir" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Test_OP_Pulses" serializeAs="String">
                <value>1=4x200,2=8x500 1=16x500,2=[250]10x250 1=[250]32x250,2=20x500 1=64x250 2=30x500</value>
            </setting>
            <setting name="Test_OP_InitialPause" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Test_OP_OdorFlowDuration" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Test_OP_FinalPause" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Test_OP_PIDReadingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Logger_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Setup_MFC_FreshAir" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Setup_MFC_Odor1" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Setup_MFC_Valve1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setup_MFC_Valve2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setup_MFCPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Setup_PIDPort" serializeAs="String">
                <value />
            </setting>
            <setting name="App_ZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorWindow_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorWindow_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorWindow_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorWindow_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Test_OP_UseValveTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setup_MFC_Odor2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Test_OP_ManualFlowStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Test_CMP_FreshAirFlow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Test_CMP_OdorFlow" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Test_CMP_Gas1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Test_CMP_Gas2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Test_CMP_Mixtures" serializeAs="String">
                <value>Odor1, Odor2</value>
            </setting>
            <setting name="Test_CMP_InitialPause" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Test_CMP_OdorFlowDuration" serializeAs="String">
                <value>5</value>
            </setting>
        </Olfactory.Properties.Settings>
    </userSettings>
</configuration>